{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
	  "parser": {
	    "syntax": "typescript",
	    "tsx": false,
	    "decorators": false,
	    "dynamicImport": true
	  },
	  "transform": null,
	  "target": "es2020",
	  "loose": false,
	  "externalHelpers": false,
	  "keepClassNames": false,
	  "baseUrl": "./src",
	  "paths": {
	    "@providers/*": ["./providers/*"],
      "@entities/*": ["./entities/*"]
	  }
  },
  "minify": false,
  "isModule": true,
  "module": {
	  "type": "commonjs"
  }
}
